[Container]
ContainerName=postgres-nc
Image=docker.io/postgres:alpine
#Environment=POSTGRES_PASSWORD=nextcloud
Secret=nextcloud,type=env,target=POSTGRES_PASSWORD
Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=nextcloud
ExposeHostPort=5432
Volume=db-data-nc:/var/lib/postgresql/data
Network=nc.network
Pod=nc.pod


[Service]
Restart=always

[Install]
WantedBy=multi-user.target
