[Container]
ContainerName=nextcloud
Image=docker.io/nextcloud:apache
Environment=POSTGRES_HOST=postgres-nc
#Environment=POSTGRES_PASSWORD=nextcloud
Secret=nextcloud,type=env,target=POSTGRES_PASSWORD
Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=nextcloud
Environment=APACHE_SERVER_NAME=10.101.0.117
PublishPort=8888:80
Volume=nc-data-nc:/var/www/html
Network=nc.network
Pod=nc.pod


[Service]
Restart=always

[Install]
WantedBy=multi-user.target
